<?php
date_default_timezone_set('Europe/London');

// about
define('NAME', 'ai-em');
define('TITLE', 'ai-em');
define('AUTHOR', 'ai-em');
define('SUB_TITLE', '');

// locations
define('DBMS', 'MYSQL');
define('DOC_ROOT', '/var/www/localhost/htdocs/ai-em');
define('WEB_ROOT', '192.168.0.6/ai-em');
define('PUBLIC_DIR', '/public_html');

// database
define('DB_SERVER', 'localhost');
define('DB_USER', 'ai_em');
define('DB_PASS', 'ai_em');
define('DB_NAME', 'ai_em');
define('TBL_PREFIX', '');

// modules / sections / session vars
define('TPL_BY_CLASS', 1); // looks for teplates with same name as current class
define('DEF_MOD', 0);
$module = array("front", "store", "admin");
$moduleIsDynamic = array(0, 0, 0);

$sessionVar = array("app_error", "user_id", "failed_uri", "cookies");
?>
