/vendor
/node_modules
/public_html/.htaccess
/public_html/vendor
/public_html/js/common.js
/tpl
/config.yml
/.idea
/logs
*~

.DS_Store

# React Router
/react/node_modules/
*.tsbuildinfo
/react/.react-router/
/react/build/

# React Router Server
/react/.env
/react/server/.npm
/react/server/build
/react/server/public
/react/server/node_modules
/react/server/server.js
/react/server/package-lock.json
