---
name: eaa
title: 
doc_root: /opt/local/apache2/htdocs/eaa
web_root: bastian/eaa
public_dir: /public_html
db_server: 127.0.0.1
db_user: root
db_pass: 
db_name: 
tbl_prefix: 
tpl_by_class: true
boot_options:
  default_module: front
  dynamic_module:
smarty_debugging: false

plugins:
  - name: EDefault
    version: 1.0
  - name: Smarty
    version: 1.0
    class_path: Smarty/Smarty.class.php
    class_name: \Smarty
    loader:
  - name: Doctrine
    version: 1.0
    class_path: Doctrine.php
    class_name: \Doctrine
    loader: autoload
  - name: Zend
    version: 1.0
    class_path: Zend/Loader.php
    class_name: \Zend_Loader
    loader: loadClass

