---
name: eaa
title: 
doc_root: /var/www/sites/eaa
web_root: atreyu/sites/eaa
public_dir: /public_html
db_server: localhost
db_user: root
db_pass: 
db_name: 
tbl_prefix: 
tpl_by_class: true
boot_options:
  default_module: front
  dynamic_module:
smarty_debugging: false

#png_output: 0
#debug_mode: true
