---
name: eaa
doc_root: /Users/mike/code/mikejw/empathy/eaa
web_root: localhost/eaa
public_dir: /public_html
boot_options:
  handle_errors: true
  default_module: front
  use_elib: false
  environment: prod
  debug_mode: false
plugins:
  -
    name: ELibs
    version: 1.0
    config: '{ "testing": true }'
  -
    name: Smarty
    version: 1.0
    class_path: Smarty/Smarty.class.php
    class_name: \Smarty
    loader:
  -
    name: EDefault
    version: 1.0
