#ai-em { background-color: #fff; 
       background-image: url('../img/af.gif');
       margin: 0; text-align: center; }

#page { width: 640px; margin: 1em auto; text-align: left; }

p.logo { text-align: center; margin: 0 0 0 0; }

#nav { text-align: center; margin: 0.5em 0 0 0; }
#nav li { display: inline; }
#nav li a { margin: 0 0.5em; border: 1px solid #eee;
     padding: 0.25em; background-color: #fff; }
#nav li a:hover { background-color: #eee; border: 1px solid #ddd; }
#nav li a.selected { background-color: #000; border: 1px solid #ee0; }


#content { margin: 3em 0 0 0; }

#content ul { list-style: square; }

#footer { clear: both; }

form { padding: 0.5em; margin-bottom: 2em; }}
form p { clear: both; }
form p label { float: left; width: 30%; }
form p input { float: left; width: 50%; }
form p input.fixed { width: 100px; }



/* typography */

#nav li a { color: #666; font-size: 0.8em; text-decoration: none; }
#nav li a.selected { color: #ee0; }


#ai-em { font-family: sans-serif; color: #666; }

#page h1 { font-size: 1em;
      margin: 2em 0 0 0; }

#page h1 a { color: #666; text-decoration: none; }

#page p.sub_title { margin: 00; font-size: 0.8em;
      text-align: center; color: #ccc; }

#content h3 { font-size: 1em; margin: 2em 0 0.5em 0; font-weight: bold; }

#content p, #right p, #right ul li { font-size: 0.8em; }

#content p { text-indent: 1em; }

#content p a, #right p a, #right ul li a { color: #999; text-decoration: none; }

#content p a:hover, #right p a:hover, #right ul li a:hover { color: #333; }
