

$font-size-base:              0.9rem;


$white: #ffffff;

$theme-colors: (
        "light":      #e1d0cf,
        "dark":       #080908,
        "primary":    #543723,
        "secondary":  #6c5b4c,
        "info":       #a88b6a,
        "accent1":    #6f3c1a,
        "accent2":    #c14d2c,
        "accent3":    #a9a496,
        "success":    #549d20,
        "warning":    #febe52,
        "danger":     #ec1360,
);