<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" backupGlobals="false" stopOnFailure="false" colors="true" displayDetailsOnTestsThatTriggerWarnings="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="MVC">
      <directory suffix="Test.php">./ESuite/MVC</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="../build/testsuite.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">../src/</directory>
      <directory suffix=".php">../eaa/</directory>
    </include>
  </source>
</phpunit>
