<?php
// site wide controller costomisation goes in this file

require('empathy/include/Controller.php');

class CustomController extends Controller
{	
  public function __construct($error, $internal)
  {
    parent::__construct($error, $internal);  
    // put custom routines here
  }
  
  // custom functions can go here   
}
?>