<?php
date_default_timezone_set('Europe/London');

// about
define('NAME', 'eaa');
define('TITLE', '');
define('AUTHOR', '');
define('SUB_TITLE', '');

// locations
define('DBMS', 'MYSQL');
define('DOC_ROOT', '/var/www/localhost/htdocs/eaa');
define('WEB_ROOT', 'localhost/eaa');
define('PUBLIC_DIR', '/public_html');

// database
define('DB_SERVER', 'localhost');
define('DB_USER', 'root');
define('DB_PASS', '');
define('DB_NAME', '');
define('TBL_PREFIX', '');

// modules / sections / session vars
define('TPL_BY_CLASS', 1); // looks for teplates with same name as current class
define('DEF_MOD', 0);
$module = array('front');
$moduleIsDynamic = array(0);

$sessionVar = array('cookies', 'failed_uri');
?>
